html{
	height: 100%;
}

body{
	height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

	background-color: #8eb6c8;
	/*background-image: -webkit-gradient(radial, 50% 50%,200,50% 50%,20, from(rgb(1, 37, 110)), to(rgb(142, 182, 200)));
	background-image: -webkit-radial-gradient(50% 50%, rgb(142, 182, 200), rgb(1, 37, 110));
	background-image: -moz-radial-gradient(50% 50%, rgb(142, 182, 200), rgb(1, 37, 110));
	background-image: -ms-radial-gradient(50% 50%, rgb(142, 182, 200), rgb(1, 37, 110));*/
	background-image: radial-gradient(50% 100%, rgb(142, 182, 200), rgb(1, 37, 110));

}

/* Header */

#title-image{
	background-image: url("../img/penn_ua_logo_all_white.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	height: 100px;
	width: 100%;

	margin: 20px 0px;
}


/* Navigation Bar */

nav.navbar{
	background-color: #fff;
	border-radius: 0px;
	border: none;
	height: 60px;
	margin-bottom: 2px;
}

#end-ext-left{
	z-index: 1;
	position: absolute;
	right: 0px;
	height: 60px;
	width: 40px;
	background-color: #fff;
}

#end-ext-left:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #e6e6e6 #e6e6e6 transparent transparent;
}

#end-lower-ext-left{
	position: absolute;
	width: 0px;
	height: 0px;
	right: 20px;
	top: 10px;
	border-width: 30px 30px;
	border-style: solid;
	border-color: #ccc #ccc #ccc transparent;
}

#end-ext-right{
	z-index: 1;
	position: absolute;
	left: 0px;
	height: 60px;
	width: 40px;
	background-color: #fff;
}

#end-ext-right:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	right: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #e6e6e6 transparent transparent #e6e6e6;
}

#end-lower-ext-right{
	position: absolute;
	width: 0px;
	height: 0px;
	left: 20px;
	top: 10px;
	border-width: 30px 30px;
	border-style: solid;
	border-color: #ccc transparent #ccc #ccc ;
}

div.nav-col{
	padding: 0px;
}

.collapse>.navbar-nav>li>a{
	padding-top: 20px;
	padding-bottom: 20px;
}

@media (max-width: 767px) {

	.endcap{
		display: none;
	}
}


/* Body */


.body{
	padding: 0px 8%;
	margin-top: -40px;
}

@media (max-width: 767px) {

	.body{
		padding: 0px;
		margin-top: 0px;
	}
}

.nav.navbar-nav{
	width: 100%;
	display:table;
}

.nav.navbar-nav>li{
	display:table-cell;
	float: none;
	text-align: center;
}


.body > div{
		margin-top: -20px;
}

.body-slider{
		margin-top: -18px;
		background-image: url("../img/quaker.jpg");
		background-size: cover;
		background-position: center center;
		height: 460px;
		width: 100%;
}

.body>div:not(.body-slider){
	background-color: #fff;
}

.body > div > p{
	padding: 0px 20px;
}

.body > div > h1{
	padding: 0px 20px;
}

/* Footer */

.footer-body{
	height: 100px;
	background-color: #fff;
	border-bottom: solid 4px #999;

}

.footer-text{
	color: #fff;
	text-align: center;
	margin-top: 20px;
	font-size: 10px;
}

.footer-text a{
	color: #fff;
	font-weight: bold;
}

.footer-text a:hover{
	color: #ddd;
	font-weight: bold;
	text-decoration: none;
}


#pennlabs{
	width: 150px;
	margin: 10px auto 50px auto;
}

/* Feature */

.main_image img {
	width: 100%;
}


