html{
	height: 100%;
}

body{
	height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

	background-color: #8eb6c8;
	/*background-image: -webkit-gradient(radial, 50% 50%,200,50% 50%,20, from(rgb(1, 37, 110)), to(rgb(142, 182, 200)));
	background-image: -webkit-radial-gradient(50% 50%, rgb(142, 182, 200), rgb(1, 37, 110));
	background-image: -moz-radial-gradient(50% 50%, rgb(142, 182, 200), rgb(1, 37, 110));
	background-image: -ms-radial-gradient(50% 50%, rgb(142, 182, 200), rgb(1, 37, 110));*/
	background-image: radial-gradient(50% 100%, rgb(142, 182, 200), rgb(1, 37, 110));

}

/* Header */

#title-image{
	background-image: url("../img/penn_ua_logo_all_white.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	height: 100px;
	width: 100%;

	margin: 20px 0px;
}


/* Navigation Bar */

nav.navbar{
	background-color: #fff;
	border-radius: 0px;
	border: none;
	height: 60px;
	margin-bottom: 2px;
}

.dropdown:hover{
	background-color: #bbbbbb;
}

.dropdown:before{
	content: "";
}


#end-ext-left{
	z-index: 1;
	position: absolute;
	right: 0px;
	height: 60px;
	width: 40px;
	background-color: #fff;
}

#end-ext-left:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #e6e6e6 #e6e6e6 transparent transparent;
}

#end-lower-ext-left{
	position: absolute;
	width: 0px;
	height: 0px;
	right: 20px;
	top: 10px;
	border-width: 30px 30px;
	border-style: solid;
	border-color: #ccc #ccc #ccc transparent;
}

#end-ext-right{
	z-index: 1;
	position: absolute;
	left: 0px;
	height: 60px;
	width: 40px;
	background-color: #fff;
}

#end-ext-right:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	right: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #e6e6e6 transparent transparent #e6e6e6;
}

#end-lower-ext-right{
	position: absolute;
	width: 0px;
	height: 0px;
	left: 20px;
	top: 10px;
	border-width: 30px 30px;
	border-style: solid;
	border-color: #ccc transparent #ccc #ccc ;
}

div.nav-col{
	padding: 0px;
}

.collapse>.navbar-nav>li>a{
	padding-top: 20px;
	padding-bottom: 20px;
}

@media (max-width: 767px) {

	.endcap{
		display: none;
	}
}


/* Feature */

.feature{
	margin-top: 2px;
	margin-bottom: 15px;
}

.feature img{
	width: 100%;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
	margin-bottom: -6px;	

}

.feature_footer{

	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.50)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.50));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.50));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.50));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.50));

	height: 6px;
	width: 100%;
    z-index:5;
    position: relative;
}

@media (max-width: 767px) {

	.feature{
		margin-top: 0px;
	}
}


/* Body */

.content{
	margin: 0px 8%;
		position: relative;

}

@media (max-width: 767px) {

	.content{
		margin: 0px;
	}
}

.body > .content{
	background-color: #FFFFFF;
	background-image: -webkit-gradient(radial, 50% 50%,200,50% 50%,20, from(rgb(228, 228, 228)), to(rgb(255, 255, 255)));
	background-image: -webkit-radial-gradient(50% 50%, rgb(255, 255, 255), rgb(228, 228, 228));
	background-image: -moz-radial-gradient(50% 50%, rgb(255, 255, 255), rgb(228, 228, 228));
	background-image: -ms-radial-gradient(50% 50%, rgb(255, 255, 255), rgb(228, 228, 228));
	background-image: radial-gradient(50% 50%, rgb(255, 255, 255), rgb(228, 228, 228));

	padding: 10px 5%;
	z-index: 10;
	border-top: 1px solid #FFFFFF;
	
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
	margin-bottom: -6px;
}

.nav.navbar-nav{
	width: 100%;
	display:table;
}

.nav.navbar-nav>li{
	display:table-cell;
	float: none;
	text-align: center;
}


/* Body Font Styles */

h1{
  font-family: 'Crimson Text', serif;
  font-size: 3.2em;
  color: #01246E;
  margin-bottom: 5px;
}

h2{
  font-family: 'Crimson Text', serif;
  font-size: 2em;
  color: #01246E;
}

h3{
	margin-top: 0px;
	margin-bottom: 10px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
	color: #FB1629;
}

p{
	margin-top: 10px;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 10px;
	font-size: 1em;
	line-height: 1.75;
}

.quote{
	background-color: #FEF4E6;
	width: calc(116% + 40px);
	margin-left: calc(-8% - 20px);
	border: 8px solid #C1A783;
	padding: 30px 18%;
	font-family: 'Crimson Text', serif;
	font-style: italic;
	color: #4A4033;
	font-size: 1.25em;
}

.quote:before{
	content: '“';
	position: absolute;
	left: 20px;
	font-size: 8em;
	font-family: 'Crimson Text', serif;
	color: #766650;
	line-height: 0.9;

}

.quote:after{
	content: '”';
	position: absolute;
	right: 50px;
	font-size: 8em;
	font-family: 'Crimson Text', serif;
	color: #766650;
	line-height: 0.5;

}

.quote-triangle-left{
	position: absolute;
	left: -30px;
	width: 20px;
	height: 20px;
	border-width: 15px 15px;
	border-style: solid;
	border-color: #766650 #766650 transparent transparent;
	z-index: -1;
}

.quote-triangle-right{
	position: absolute;
	right: -30px;
	width: 20px;
	height: 20px;
	border-width: 15px 15px;
	border-style: solid;
	border-color:   #766650 transparent transparent #766650;
	z-index: -1;
}

.content a{
	color: #FB1629;
	border:1px solid #FB1629;
	border-radius: 2px;
	padding: 0px 4px 0px 4px;
	margin: 0px 2px;
}

.content a:hover{
	color: #FFFFFF;
	background-color: #FB1629; 
	border:1px solid #FB1629;
	border-radius: 2px;
	padding: 0px 4px 0px 4px;
	margin: 0px 2px;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: -0.02em;
}

iframe{
	border:none;
	margin: 4% 0px;
}

.body-base{
	width: 84%;
	margin: 0px 8%;
	height: 6px;
	/*background-color: #000000;*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.35)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.35));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.35));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.35));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.35));

}

/* Footer */

.footer-body{
	height: 100px;
	background-color: #fff;
	border-bottom: solid 4px #999;

}

.footer-text{
	color: #fff;
	text-align: center;
	margin-top: 20px;
	font-size: 10px;
}

.footer-text a{
	color: #fff;
	font-weight: bold;
}

.footer-text a:hover{
	color: #ddd;
	font-weight: bold;
	text-decoration: none;
}


#pennlabs{
	width: 150px;
	margin: 10px auto 50px auto;
}



